<%= render 'shared/header' %>

<h2 class="text-center text-3xl mb-4">Editar <%= resource_name.to_s.humanize %></h2>

<div class="font-mono flex items-center justify-center h-screen">
  <div class="w-full max-w-md p-6 mx-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :email, class: "block text-sm font-bold mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="mb-4">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mb-4">
        <%= f.label :password, "Nueva contraseña (dejar en blanco si no deseas cambiarla)", class: "block text-sm font-bold mb-1" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        <% if @minimum_password_length %>
          <div class="text-sm"><em><%= @minimum_password_length %> caracteres mínimo</em></div>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, class: "block text-sm font-bold mb-1" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-4">
        <%= f.label :current_password, "Contraseña actual (necesaria para confirmar cambios)", class: "block text-sm font-bold mb-1" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="text-center mt-2">
        <%= f.submit "Actualizar", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% end %>

    <div class="text-center mt-4">
      <h3 class="text-lg font-bold">Cancelar mi cuenta</h3>
      <div>¿No estás contento? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?", turbo_confirm: "¿Estás seguro?" }, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %></div>
    </div>

    <%= link_to "Volver", :back, class: "text-blue-600 hover:text-blue-800" %>
  </div>
</div>
