<%= render 'shared/header' %>

<h2 class="text-center text-3xl mb-4">Registrarse</h2>

<body class="font-mono flex items-center justify-center h-screen">
  <div class="w-full max-w-md p-6 mx-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :user_name, "Nombre", class: "block text-sm font-bold mb-1" %>
        <%= f.text_field :user_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-1" %>
      </div>

      <div class="mb-4">
        <%= f.label :user_last_name, "Apellido", class: "block text-sm font-bold mb-1" %>
        <%= f.text_field :user_last_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-1" %>
      </div>

      <div class="mb-4">
        <%= f.label :email, "Correo electrónico", class: "block text-sm font-bold mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-1" %>
      </div>

      <div class="mb-4">
        <%= f.label :password , "Contraseña", class: "block text-sm font-bold mb-1" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-1" %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation , "Confirmar contraseña", class: "block text-sm font-bold mb-1" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-1" %>
      </div>



     <div class="mb-4 flex items-center">
        <span class="text-sm font-medium text-gray-900 dark:text-gray-300">¿Eres estudiante?</span>
        <label class="relative inline-flex items-center cursor-pointer ml-3 group">
          <%= f.check_box :user_student, id: "user_student_checkbox", class: "sr-only peer" %>
          <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        </label>
      </div>

<div id="student_options" class="mb-4">
  <%= f.label :user_university_id, "Universidad", for: "universities_select", class: "block text-sm font-bold mb-1" %>
  <%= f.collection_select :user_university_id, University.all, :id, :name, { include_blank: 'Seleccione una' }, { id: "universities_select", class: "block w-full py-2 px-3 border rounded leading-tight focus:outline-none focus:shadow-outline text-gray-700" } %>

  <%= f.label :user_degree_id, "Carrera", for: "degrees_select", class: "block text-sm font-bold mt-4 mb-1" %>
  <%= f.collection_select :user_degree_id, Degree.none, :id, :name, { include_blank: 'Primero elige una universidad' }, { id: "degrees_select", class: "block w-full py-2 px-3 border rounded leading-tight focus:outline-none focus:shadow-outline text-gray-700", disabled: true } %>
</div>




      <div class="text-center mt-2">
        <div class="flex justify-center items-center">
          <div>
            <%= f.submit "Registrarse", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2" %>
          </div>
        </div>
          <div class="text-center mt-2 mb-4">
            <%= render "devise/shared/links" %>
          </div>
      </div>
    <% end %>
  </div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const studentCheckbox = document.getElementById('user_student_checkbox');
    const universitySelect = document.getElementById('universities_select');
    const degreeSelect = document.getElementById('degrees_select');

    function toggleSelects(enable) {
      universitySelect.disabled = !enable;
      degreeSelect.disabled = !enable;
    }

    toggleSelects(studentCheckbox.checked);

    studentCheckbox.addEventListener('change', function() {
      toggleSelects(this.checked);
    });

    universitySelect.addEventListener('change', function() {
      fetch(`/degrees/by_university?university_id=${this.value}`)
        .then(response => response.json())
        .then(data => {
          degreeSelect.innerHTML = '<option value="">Seleccione una carrera</option>';
          degreeSelect.disabled = false;
          data.forEach((degree) => {
            let option = new Option(degree.name, degree.id);
            degreeSelect.appendChild(option);
          });
        });
    });
  });
</script>

</body>