<!DOCTYPE html>
<html lang="es" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Estudiante</title>

    <%= stylesheet_link_tag 'github_markdown' %>
    <%= stylesheet_link_tag 'application.css'%>

</head>
<body data-user-id="<%= current_user.id %>" class="bg-gray-100 h-full flex flex-col">
    <%= alert %>
    <%= notice %>

    <header class="text-center text-6xl p-4">
        <h1>/ALL_INF</h1>

    </header>

    <nav class="border-2 border-gray-300 rounded-full m-2 p-1 flex justify-end items-center text-black" style="background-color: #F5F6F4;">
        <span>Logged in as <strong><%= current_user.email %></strong></span>
        <%= link_to "Edit profile", edit_user_registration_path, class: "bg-blue-500 hover:bg-blue-700 font-bold py-1 px-3 rounded-full text-sm mr-2" %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "bg-red-500 hover:bg-red-700 font-bold py-1 px-3 rounded-full text-sm" %>
    </nav>

    <div class="flex flex-row flex-auto h-full p-2 mb-4">
        <!-- div de la terminal -->
        <div class="w-4/6 rounded shadow-lg p-4 ml-4 overflow-hidden text-black" style="background-color: #F5F6F4;">
            
            <a href="#" class="block max-w-sm p-2.5 mb-1 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-4"> <!-- Aquí agregué mb-4 para margen inferior -->
                <p class="font-normal text-gray-700 dark:text-gray-400">Para iniciar sesion en la terminal tu usuario es "la primera letra de tu nombre"+"tu apellido", la clave generica es "allinf", puedes cambiarla si deseas, pero no la pierdas, ya que deberas contactarte con un administrador para poder recuperarla.</p>
            </a>
            <!-- aquí va SHELL IN A BOX -->

            <iframe src="http://146.83.194.188:4321/" style="width: 100%; height: 90%; border: none;"></iframe>

        </div>
        <!-- div de los cursos -->
        <style>
            .contenido-curso {
                overflow-y: auto;
                max-height: calc(100vh - 450px);
            }
            .feedback-container {
                margin-top: 20px;
            }
        </style>
        <div class="w-2/6 rounded shadow-lg p-4 ml-4" style="background-color: #F5F6F4;">
            <h1 class="text-black text-2xl mb-2">Cursos</h1>
            <%= form_with(url: mostrar_curso_path, local: false, id: "courses_form", method: :get) do |form| %>
                <%= form.select :course_id, @cursos.collect { |c| [c.title, c.id] }, { include_blank: 'Seleccione un curso' }, { id: "courses_select", class: "block w-full py-2 px-3 border rounded focus:outline-none focus:shadow-outline text-gray-700" } %>
            <% end %>
            <style>
                .contenido-curso {
                    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede la altura del contenedor */
                    max-height: calc(100vh - 850px); /* Ajusta esta altura según sea necesario */
                }
                .feedback-container {
                    margin-top: 20px;
                }
            </style>
            <div class="contenido-curso  overflow-hidden">
                <div id="course_content" class="markdown-body">
                    <!-- Carga de vista parcial del curso -->
                </div>
                <div id="feedback_form" class="feedback-container">
                    <!-- Carga de vista parcial del formulario de feedback -->
                </div>
            </div>

        </div>

    </div>
</body>

<script>
document.addEventListener("turbo:load", function() {
    const selectElement = document.getElementById("courses_select");

    selectElement.addEventListener("change", function() {
        const courseId = this.value;
        if (courseId) {
            fetch(`/student_dashboard/mostrar_cursos?course_id=${courseId}`)
                .then(response => response.json())
                .then(data => {
                    const courseContentDiv = document.getElementById("course_content");
                    courseContentDiv.innerHTML = data.curso_html;
                    document.getElementById("feedback_form").innerHTML = data.feedback_form_html;
                    // Aquí podrías ajustar los estilos si es necesario
                    courseContentDiv.parentElement.style.overflowY = 'auto';
                    courseContentDiv.parentElement.style.maxHeight = 'calc(100vh - 250px)';
                })
                .catch(error => console.error('Error al cargar el curso:', error));
        } else {
            document.getElementById("course_content").innerHTML = '';
            document.getElementById("feedback_form").innerHTML = '';
        }
    });
});
</script>


</html>