<head>
    <title>Dashboard de Estudiante</title>
    <%= stylesheet_link_tag 'github_markdown' %>
    <%= stylesheet_link_tag 'application.css'%>
</head>
<body data-user-id="<%= current_user.id %>" class="is-flex is-flex-direction-column h-full">
    <div class="container is-flex is-flex-direction-column is-flex-grow-1">
        <header class="has-text-centered regularTitle">
            <h1>./all_inf</h1>
        </header>
        
        <!-- Navbar -->
        <%= render 'shared/basicnavbar' %>
        <!-- Contenido principal -->
        <div class="box mt-2 is-flex is-flex-direction-column is-flex-grow-1 mx-3 mb-5 box_main">

            <div class="is-flex is-justify-content-space-between is-align-items-center mb-4">
                <h3 class="title is-3 mb-0 textoblanco">Material de Estudio</h3>

            </div>

            <div class="is-flex-grow-1">
                <table class="dt-container dt-bulma table-custom is-fullwidth table-datatables">
                    <thead>
                        <tr>
                            <th style="width: 20%;">Título</th>
                            <th style="width: 50%;">Descripción</th>
                            <th style="width: 20%;">Categoría</th>
                            <th style="width: 10%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @study_materials.each do |material| %>
                            <tr>
                                <td><%= material.title %></td>
                                <td><%= material.description %></td>
                                <td><%= material.category.name %></td>
                                <td>
                                    <%= link_to rails_blob_path(material.file, disposition: 'attachment'), class: "button is-info" do %>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                                            <path d="M7 11l5 5l5 -5" />
                                            <path d="M12 4l0 12" />
                                        </svg>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%= render 'shared/screenwarning' %>

    <script>
        document.addEventListener("turbo:load", () => {
            $('.table-datatables').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':not(:last-child)' // Excluye la última columna
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':not(:last-child)' // Excluye la última columna
                        }
                    }
                ],
                paging: true,
                searching: true,
                info: true,
                ordering: true
            });
        });
    </script>
</body>
</html>
