<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Administración</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.x.x/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <%= alert %>
    <%= notice %>

    <header class="text-center text-6xl p-4">
        <h1>/ALL_INF</h1>
        <h2>Admin Dashboard</h2>

    </header>

    <nav class="bg-white border-2 border-gray-300 rounded-full m-2 p-1 flex justify-end items-center text-black">
        <span>Logged in as <strong><%= current_user.email %></strong></span>
        <%= link_to "Edit profile", edit_user_registration_path, class: "bg-blue-500 hover:bg-bluelayout: false-700 font-bold py-1 px-3 rounded-full text-sm mr-2" %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "bg-red-500 hover:bg-red-700 font-bold py-1 px-3 rounded-full text-sm" %>
    </nav>

    <div class="flex flex-row p-4 h-screen">
        <!-- Sidebar dentro de un Card -->
        <div class="bg-white w-1/6 rounded overflow-hidden shadow-lg p-4 h-full">
            <aside class="mb-4">
                <ul class="space-y-2">
                    <li><a href="javascript:void(0)" onclick="cargarVista('usuarios');" class="block py-2.5 px-4 text-black rounded hover:bg-purple-200">Usuarios</a></li>

                    <li><a href="#" class="block py-2 px-4 text-black rounded hover:bg-purple-200">Cursos</a></li>
                    <li>
                        <button class="dropdown-btn block py-2 px-4 text-black rounded hover:bg-purple-200 w-full text-left focus:outline-none" id="dropdownMenuButton">
                            Materiales de Estudio
                        </button>
                        <ul class="dropdown-content hidden space-y-2 pl-4" aria-labelledby="dropdownMenuButton">
                            <li><a href="#" class="block py-1 px-4 text-black rounded hover:bg-purple-200">Programación y Desarrollo</a></li>
                            <li><a href="#" class="block py-1 px-4 text-black rounded hover:bg-purple-200">Ingeniería de Software</a></li>
                            <li><a href="#" class="block py-1 px-4 text-black rounded hover:bg-purple-200">Bases de Datos</a></li>
                            <li><a href="#" class="block py-1 px-4 text-black rounded hover:bg-purple-200">Redes y Seguridad</a></li>
                            <li><a href="#" class="block py-1 px-4 text-black rounded hover:bg-purple-200">Sistemas Operativos y Tecnología</a></li>
                            <li><a href="#" class="block py-1 px-4 text-black rounded hover:bg-purple-200">Inteligencia Artificial y Datos</a></li>
                            <li><a href="#" class="block py-1 px-4 text-black rounded hover:bg-purple-200">Tecnologías Emergentes</a></li>
                            <li><a href="#" class="block py-1 px-4 text-black rounded hover:bg-purple-200">Gestión Tecnológica</a></li>

                        </ul>
                    </li>
                </ul>
            </aside>
        </div>
        <!-- Área de Contenido Principal -->
        <div class="bg-white w-5/6 rounded overflow-hidden shadow-lg p-4 h-full ml-4 contenido-principal">
            
            <%= render 'shared/home_admin_dashboard' %> <!-- Contenido principal por defecto -->
            <% if params[:view] == 'usuarios' %>
                <%= render 'shared/usuarios', usuarios: @usuarios %>
            <% end %>
        </div>
    </div>

    <script>
        // Función para mostrar/ocultar el menú desplegable del sidebar
        document.getElementById('dropdownMenuButton').addEventListener('click', function () {
            var dropdownContent = this.nextElementSibling;
            dropdownContent.classList.toggle('hidden');
        });
    </script>

<script>
document.addEventListener('DOMContentLoaded', () => {
    // Función para cargar las vistas en el área de contenido principal
    window.cargarVista = (vista, id = null) => {
        let url = '';
        switch (vista) {
            case 'usuarios':
                url = '/admin/dashboard?view=usuarios';
                break;
            case 'user_info':
                url = `/admin/dashboard?view=user_info&id=${id}`;
                break;
            case 'edit_user':
            window.location.href = `/admin/edit_user/${id}`;
            return;
            default:
                url = '/admin/dashboard';
        }

        fetch(url)
            .then(response => response.text())
            .then(html => {
                document.querySelector('.contenido-principal').innerHTML = html;
            })
            .catch(error => console.error('Error cargando el contenido:', error));
        };
    });
</script>

</body>
</html>
