
<body data-current-user-id="<%= current_user.id %>" class="is-flex is-flex-direction-column h-full">
    <div class='container'>
        <%= render 'shared/screenwarning' %>
        <header class="has-text-centered">
            <h1 class="regularTitle">./all_inf</h1>
            <h2 class="regularsubTittle"> Dashboard de Administración </h2>
        </header>

        <nav>
            <%= render 'shared/adminnavbar' %>
        </nav>

        <div class="is-flex is-flex-grow-1 columns p-2 mb-2 mt-1">
            <!-- Sidebar -->
            <div class="column is-one-quarters box p-4 ml-4 is-flex is-flex-direction-column box_main">
                <%= render 'shared/adminsidebar' %>
            </div>
            <!-- Área de Contenido Principal -->
            <div class="column is-three-quarters box p-4 mx-4 mb-5">
                <div class="p-4">
                    <div class="p-4">
                        <h3 class="title is-3 mb-4">Agregar Nuevo Curso</h3>
                        <%= form_with(model: @curso, url: crear_curso_admin_path, local: true) do |form| %>
                            <div class="field mb-4">
                                <%= form.label :title, "Nombre del curso", class: "label" %>
                                <div class="control">
                                    <%= form.text_field :title, class: "input" %>
                                </div>
                            </div>

                            <div class="field mb-4">
                                <%= form.label :description, "Descripción", class: "label" %>
                                <div class="control">
                                    <%= form.text_area :description, class: "textarea input-custom" %>
                                </div>
                            </div>

                            <div class="field mb-4">
                                <%= form.label :file, "Archivo del curso (formato '.md' Markdown)", class: "label" %>
                                <div class="control">
                                    <%= form.file_field :file, accept: ".md", direct_upload: true, class: "input input-custom" %>
                                </div>
                            </div>
                            
                            <div class="field mb-4 is-pulled-right">
                                <div class="control">
                                    <%= form.submit "Agregar Curso", class: "button is-success" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

