<div class="is-flex is-justify-content-center is-align-items-center is-fullheight">
  <div class="box" style="max-width: 400px; width: 100%;">
    <h1 class="title has-text-centered">/ALL_IECI</h1>
    <h2 class="subtitle has-text-centered">Cambio de contraseña</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "Nueva contraseña", class: "label" %>
        <% if @minimum_password_length %>
          <p class="help">(mínimo <%= @minimum_password_length %> caracteres)</p>
        <% end %>
        <div class="control">
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirma la nueva contraseña", class: "label" %>
        <div class="control">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <%= f.submit "Cambiar mi contraseña", class: "button is-primary" %>
        </div>
      </div>
    <% end %>

    <div class="has-text-centered mt-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
