<body data-current-user-id="<%= current_user.id %>" class="is-flex is-flex-direction-column h-full">
  <div class='container'>
    <header class="has-text-centered">
      <h1 class="regularTitle">./all_inf</h1>
      <h2 class="regularsubTittle"> Dashboard de Administración </h2>
    </header>

    <nav>
      <%= render 'shared/adminnavbar' %>
    </nav>

    <div class="is-flex is-flex-grow-1 columns p-2 mb-2 mt-1">
      <!-- Sidebar -->
      <div class="column is-one-quarters box p-4 ml-4 is-flex is-flex-direction-column box_cursos">
        <%= render 'shared/adminsidebar' %>
      </div>
      <!-- Área de Contenido Principal -->
      <div class="column is-three-quarters box p-4 mx-4 mb-5 is-flex is-flex-direction-column box_statistics">
        <div class="p-4">
          <h1 class="title is-3 mb-4 textoblanco">Estadísticas</h1>
          <%= form_with url: admin_statistics_path, method: :get, local: true do %>
            <div class="field">
              <label class="label textoblanco">Seleccionar tipo de gráfico</label>
              <div class="control select-custom">
                <div class="select">
                  <%= select_tag :chart_type, options_for_select([['Cantidad de veces que se terminaron cursos en cada mes del último año', 'courses_completed_per_month'], ['Cursos completados por mes', 'course_completions_by_month'], ['Distribución de usuarios por universidad', 'user_distribution_by_university'], ['Distribución de materiales de estudio por categoría', 'study_materials_distribution_by_category'], ['Distribución de usuarios por carrera y universidad', 'user_distribution_by_degree_and_university']], params[:chart_type]), onchange: 'this.form.submit();' %>
                </div>
              </div>
            </div>
            <% if @chart_type == 'course_completions_by_month' %>
              <div class="field">
                <label class="label">Seleccionar mes</label>
                <div class="control">
                  <%= month_field_tag :month, params[:month], onchange: 'this.form.submit();', class: 'input' %>
                </div>
              </div>
            <% end %>

            <% if @chart_data.present? %>
              <% case @chart_type %>
              <% when 'courses_completed_per_month' %>
                <%= render partial: 'admin/statistics/shared/courses_completed_per_month' %>
              <% when 'course_completions_by_month' %>
                <%= render partial: 'admin/statistics/shared/course_completions_by_month' %>
              <% when 'user_distribution_by_university' %>
                <%= render partial: 'admin/statistics/shared/user_distribution_by_university' %>
              <% when 'study_materials_distribution_by_category' %>
                <%= render partial: 'admin/statistics/shared/study_materials_distribution_by_category' %>
              <% when 'user_distribution_by_degree_and_university' %>
                <%= render partial: 'admin/statistics/shared/user_distribution_by_degree_and_university' %>
              <% end %>
            <% else %>
              <p>No hay datos para el gráfico seleccionado.</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/screenwarning' %>
</body>
