<body>
    <div class="section is-flex is-align-items-center is-justify-content-center is-fullheight">
        <div class="container is-max-desktop p-6">
            <h1 class="regularTitle has-text-centered mt-4">./all_inf</h1>
            <h2 class="regularsubTitle has-text-centered mb-4">Iniciar sesi칩n</h2>
            <div class="box box_login">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="field mb-4">
                <label class="label has-text-primary-color">Correo electr칩nico</label>
                <div class="control">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-custom" %>
                </div>
            </div>

            <div class="field mb-4">
                <label class="label has-text-primary-color">Contrase침a</label>
                <div class="control">
                    <%= f.password_field :password, autocomplete: "current-password", class: "input input-custom" %>
                </div>
            </div>

            <% if devise_mapping.rememberable? %>
                <div class="field mb-4">
                    <div class="control">
                        <label class="checkbox has-text-primary-color">
                            <p><%= f.check_box :remember_me %>
                                Recordarme</p>
                        </label>
                    </div>
                </div>
            <% end %>

            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                    <%= f.submit "Iniciar sesi칩n", class: "button is-primary" %>
                </div>
            </div>
            <% end %>

            <div class="has-text-centered mt-2">
                <%= render "devise/shared/links" %>
            </div>
            </div>
        </div>
    </div>
</body>
