<!DOCTYPE html>
<html>
<head>
  <title>Tesis</title>
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "print", media: "print" %>

</head>

<body>
  <div id="flash-messages" data-flash='{
    "notice": "<%= j flash[:notice] %>",
    "alert": "<%= j flash[:alert] %>",
    "error": "<%= j flash[:error] %>"
  }' data-controller="flash"></div>

  <%= yield %>

</body>
</html>
